a {
	color: Gold;
	text-decoration: none;
}

/*pozadina pocetne stranice*/
#backgroundimg {
	opacity: 1.0;
	width: 100%;
	height: auto;
}

#backgroundimg:hover {
	opacity: 0.8;
}

body {
	font-family: Georgia;
	font-size: 22px;
	margin: 0px;
}

header {
	/*background-color: Black;
	font-family: Impact, fantasy;
	color: Gold;
	text-align: center;
	font-size: xx-large;*/
}

nav {
	text-align: center;
	background-color: Black;
	line-height: 50px;
}

#logo {
	position: absolute;
	left: 5px;
	width: 40px;
}

content {
	background-color: Black;
}

/*stranica vesti*/
content.page-news main {
	background-color: Black;
}

/*breadcrumbs*/
content.page-news main breadcrumbs {
	color: White;
	padding-left: 0.3em;
}

/*naslov*/
content.page-news main h1 {
	background-color: Black;
	color: White;
	outline: 30px solid Black;
	outline-offset: 0px;
	padding-left: 0.3em;
}

/*prazan prostor izmedju stranice vesti i footer-a*/
content.page-news main article {
	margin-bottom: 10px;
}

/*thumbnailovi*/
content.page-news main article news div img {
	border: 1px solid Gold;
	border-radius: 4px;
	padding: 5px;
	width: 350px;
	opacity: 1;
}

content.page-news main article news div img:hover {
	border: 1px solid White;
	opacity: 0.8;
}

/*raspored stranice*/
content.page-news main article news {
	display: table-row;
}

content.page-news main article news div {
	display: table-cell;
	vertical-align: middle;
	color: White;
	padding-left: 0.8em;
}

/*tekst pored thumbnailova*/
content.page-news main article news div h3 {
	margin-bottom: 0.10em;
}

content.page-news main article news div date {
	display: block;
	font-size: 0.8em;
}

div.gallery {
	margin: 15px;
	border: 1px solid Gold;
	float: left;
	width: 600px;
	margin-bottom: 45px;
}

div.gallery:hover {
	border: 1px solid White;
}

.gallery img {
	width: 100%;
	height: 400px;
	transition: transform .3s;
}

.gallery img:hover {
	transform: scale(1.02);
}

div.desc {
	padding: 15px;
	text-align: center;
	color: White;
	font-size: 30px;
	font-family: Georgia;
}

#lightbox {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}

#lightbox.active {
	display: flex;
	justify-content: center;
	align-items: center;
}

#lightbox img {
	max-width: 45%;
	max-height: 40%;
	padding: 4px;
	background-color: black;
	border: 2px solid gold;
}

content.page-contact main {
	background-color: Black;
	outline: 40px solid Black;
	outline-offset: 0px;
}

content.page-contact main h1 {
	padding-left: 0.3em;
	color: White;
}

content.page-contact main article {
	padding-left: 0.5em;
	color: White;
}

content.page-contact form {
	margin: 1.6em;
}

content.page-contact form label {
	display: block;
	margin-top: 1.1em;
}

content.page-contact form textarea {
	resize: none;
	width: 600px;
	height: 300px;
	border: 1px solid Gold;
	background-color: FloralWhite;
}

content.page-contact form input {
	width: 300px;
	height: 50px;
	border: 1px solid Gold;
	background-color: FloralWhite;
}

content.page-contact form input[type="submit"] {
	display: block;
	margin: 0.5em;
	margin-left: 0em;
	background-color: Gainsboro;
}

footer {
	line-height: 25px;
	text-align: center;
	font-size: 14px;
	color: white;
	background-color: Black;
	outline: 10px solid Black;
	outline-offset: 0px;
}

footer secondary {}

div.container {
	position: relative;
	text-align: center;
	color: White;
	font-size: 40px;
}

div.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}